[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/opt/etcd/current/etcd \
  --name {{ host_ip }} \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
